/*------common--------*/
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
	font-size: 16px;
}

a {
	color: #009fe3;
}

textarea.form-control {
	margin-bottom: 5px;
}

.table > thead > tr > th {
	border-bottom: 0;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
	padding: 5px;
}

.theme-popover-mask {
	z-index: 998;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.7;
	filter: alpha(opacity=40);
	display: none;
}

.theme-popover {
	z-index: 998;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 660px;
	height: 360px;
	margin: -180px 0 0 -330px;
	border-radius: 5px;
	border: solid 2px #666;
	background-color: #fff;
	display: none;
	box-shadow: 0 0 10px #666;
}

.over {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #f5f5f5;
	opacity: 0.5;
	z-index: 1000;
}

.overLayout {
	position: absolute;
	top: 40%;
	left: 40%;
	width: 20%;
	height: 20%;
	z-index: 1001;
	text-align: center;
}


.mdtAlertLabel {
	color: #333;
	text-align: left;
	margin-bottom: 10px;
}

.alertText {
	font-size: 20px !important;
}

.alertLabel {
	font-size: 20px !important;
}

.caption-label {
	font-size: 16px !important;
}

.newCfsAlertTime {
	font-size: 35px;
	font-weight: bold;
	color: #D66358;
}
/*------common end*/
/*-------mdt header---------*/
.table {
	margin-bottom: 0;
}

#divSearchResult {
	position: absolute;
	top: 80px;
	float: left;
	left: 205px;
	z-index: 9999;
	background-color: whitesmoke;
	width: 250px;
	display: none;
	max-height: 300px;
	overflow: auto;
}

#mdtHeader {
	height: 70px;
	margin: 0;
	background-color: #163c51;
}

#mdtHeaderLogo {
	padding: 10px 10px;
	width: 80px;
	height: 100%;
	background-color: #163c51;
	line-height: 70px;
}

#mdtHeaderNav {
	margin: 0 0 0 80px;
	height: 100%;
	background-color: #163c51;
}

#divMDTUnitState {
	position: absolute;
	color: #FFFFFF;
	top: 0px;
	left: 0px;
	clear: both;
	height: 70px;
	display: inline-block;
	text-align: left;
	width: 215px;
	font-size: 15px;
	padding-left: 10px;
}

.unit-sub-status {
	height: 30px;
	color: #163C52;
	font-size: 15px;
	margin-top: 5px;
}

.unit-sub-status-small {
	height: 30px;
	color: #163C52;
	font-size: 15px;
	margin-top: 5px;
	line-height: 90%;
}

#searchBox {
	position: absolute;
	display: inline-block;
	top: 20px;
	left: 225px;
	margin: 0;
	padding: 0;
}

.dropdown-menu {
	border-color: #aaa;
	padding: 0;
}

#mdtHeader .dropdown-menu > .header {
	font-size: 16px !important;
	font-weight: bold;
	background-color: #5e738b;
	color: #fff;
	border-bottom: 0;
	padding: 5px;
}

#mdtHeader .dropdown-menu .table > thead {
	background-color: #E4F4F3;
	border-top: solid 2px #72C7C0;
}

#mdtHeader .dropdown-menu .table tr {
	/*font-weight: bold;*/
	font-weight: 600;
	vertical-align: middle;
}

#advSearchContent .form-horizontal .form-group {
	color: #333;
	margin: 10px;
}

.table-hover > tbody > tr:hover, .table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover, .table-hover > tbody > tr.active:hover > td, .table-hover > tbody > tr.active:hover > th {
	background-color: rgba(114, 199,192, 0.3) !important;
}

#divDriveModeAction {
	position: absolute;
	left: 225px;
	margin: 0;
	padding: 0;
	display: none;
	line-height: 70px;
}

	#divDriveModeAction button {
		color: #009fe3;
		font-size: 18px;
		border: 1px solid #009fe3;
		background-color: #163c51;
		border-radius: 6px;
	}

	#divDriveModeAction > .active {
		background-color: #009FE0;
		color: white;
		border: 0;
		outline: 0;
	}

.icon-mdt_policemark, .icon-mdt_drive {
	color: #009fe3;
}

.nav-bar-icon {
	padding: 0 16px !important;
}

	.nav-bar-icon > i {
		line-height: 70px !important;
	}

	.nav-bar-icon > .label {
		top: 18px !important;
		right: 6px !important;
		border-radius: 15px;
		padding: .1em .4em !important;
		line-height: 1 !important;
	}

#switchDayNight, #userInfoTab {
	height: 70px;
	line-height: 36px;
}

#userInfoTab {
	height: 70px;
	line-height: 40px;
}

#advSearch {
	position: absolute;
	display: inline-block;
	left: 420px;
	margin: 0;
}

.mdtRightHeaderBar {
	width: 550px;
	height: 70px;
}

#ShowadvSearch {
	height: 70px;
	display: block;
}

	#ShowadvSearch > i {
		line-height: 70px;
	}

#myRecentCfsListDropdown {
	width: 700px;
	position: fixed;
	right: 200px;
	top: 70px;
}

#nearbyUnitListContent {
	width: 700px;
}

/*-------mdt header end---------*/

/*--------mdt layout---------*/
.row {
	margin: 3px 0;
}

label {
	font-weight: normal;
}

.content {
	padding: 3px;
}

.waves {
	position: relative;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	text-align: center;
	-webkit-tap-highlight-color: transparent;
	z-index: 1;
}

	.waves .waves-animation {
		position: absolute;
		border-radius: 50%;
		width: 25px;
		height: 25px;
		opacity: 0;
		background: rgba(255,255,255,0.5);
		transition: all 0.7s ease-out;
		transition-property: transform, opacity, -webkit-transform;
		-webkit-transform: scale(0);
		transform: scale(0);
		pointer-events: none;
	}

 ::-webkit-scrollbar-track {
 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 	background-color: #rgba(93, 116,131, 0.5);
 }

 ::-webkit-scrollbar {
 	width: 6px;
 	background-color: #rgba(93, 116,131, 0.5);
 }

 ::-webkit-scrollbar-thumb {
 	background-color: #9eacb5;
 }

/*--------mdt layout end---------*/

/*---------mdtsidebar------------*/
.main-sidebar div {
	text-align: center;
	margin: 0;
	padding: 12px 0;
}

	.main-sidebar div a {
		color: #FFFFFB;
	}

.sidebarActive {
	background-color: #5D7482 !important;
}

.label-sidebar {
	position: absolute;
	left: 42px;
	top: 7px;
	border-radius: 15px;
	padding: .1em .4em;
	background-color: #f3565d;
	font-size: 18px;
}

#boloLabelIcon {
	font-size: 18px;
	font-weight: bold;
}

#chatting_msg_tip {
	color: red;
	position: absolute;
	left: 29px;
	top: 18px;
	display: none;
}

#divMdtSidebar {
	width: 80px;
	padding-top: 70px;
	background-color: #355264;
}

#mdtChat {
	padding: 0;
}
/*---------mdtsidebar end------------*/

/*------button--------*/
.btn {
	font-size: 16px;
}

.btn-other-info {
	background-color: #009FE3;
	border-color: #009FE3;
	height: 36px;
	width: 40px;
	font-size: 16px;
	color: #fff;
}

	.btn-other-info:hover {
		background-color: #00acd6;
		color: #fff;
	}

.btn-primary {
	min-width: 60px;
	background-color: #96C11F;
	border: 0;
	padding: 2px 5px;
}

	.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
		color: #fff !important;
		background-color: #75982B !important;
	}

	.btn-primary.disabled, .btn-primary[disabled],
	.btn-primary.disabled:hover,
	.btn-primary[disabled]:hover,
	fieldset[disabled] .btn-primary:hover,
	.btn-primary.disabled:focus,
	.btn-primary[disabled]:focus,
	fieldset[disabled] .btn-primary:focus,
	.btn-primary.disabled.focus,
	.btn-primary[disabled].focus,
	fieldset[disabled] .btn-primary.focus {
		opacity: 0.65;
		background-color: #C6C6C6;
	}

.btn-default {
	background-color: #72C7C0;
	border: 0;
	color: #fff;
}

	.btn-default:hover, .btn-default:active, .btn-default:focus {
		color: #fff !important;
		background-color: #4FAAA1 !important;
	}

	.btn-default.disabled, .btn-default[disabled],
	.btn-default.disabled:hover,
	.btn-default[disabled]:hover,
	fieldset[disabled] .btn-default:hover,
	.btn-default.disabled:focus,
	.btn-default[disabled]:focus,
	fieldset[disabled] .btn-default:focus,
	.btn-default.disabled.focus,
	.btn-default[disabled].focus,
	fieldset[disabled] .btn-default.focus {
		opacity: 0.65;
		background-color: #C6C6C6;
	}

.btn-grey {
	background-color: #C6C6C6;
	border: 0;
	color: #fff;
}

	.btn-grey:hover, .btn-grey:active {
		color: #fff;
		border: 0;
		background-color: #A5A5A5;
	}

.btn-danger {
	border: 0;
}

	.btn-danger.disabled, .btn-danger[disabled],
	.btn-danger.disabled:hover,
	.btn-danger[disabled]:hover,
	fieldset[disabled] .btn-danger:hover,
	.btn-danger.disabled:focus,
	.btn-danger[disabled]:focus,
	fieldset[disabled] .btn-danger:focus,
	.btn-danger.disabled.focus,
	.btn-danger[disabled].focus,
	fieldset[disabled] .btn-danger.focus {
		opacity: 0.65;
		background-color: #C6C6C6;
	}

.btn-info {
	min-width: 30px;
	background-color: #5e738b !important;
}

.btn-social-icon {
	color: #009FE3;
	width: 40px;
	font-size: 18px;
}

.btn-lg {
	padding: 10px 16px !important;
	margin: 5px;
	min-width: 120px;
	font-weight: bold;
}

.btn-lg-carstop {
	padding: 10px 16px !important;
	margin: 25px 5px 0 5px;
	min-width: 95px;
	height: 60px;
	font-weight: bold;
}
/*------button end--------*/

/*------font color--------*/
.f-red {
	color: #f3565d !important;
}
/*------font color end--------*/

/*------dataTable--------*/
table.dataTable {
	margin: 0 !important;
}

	table.dataTable thead th {
		background-color: #fff;
		color: #5e5e5e;
		font-size: 14px;
	}

.table-bordered {
	border: 1px solid #f4f4f4;
}

.table-striped > tbody > tr:nth-of-type(odd) {
	background-color: #f4f4f4;
}

.table-striped > tbody > tr:nth-of-type(even) {
	background-color: #fff;
}
/*------dataTable end--------*/

/*------Header--------*/
.navbar-nav > li > .dropdown-menu {
	margin-top: 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
	padding: 5px;
	box-shadow: 0px 0px 10px 3px rgba(170,170,170,1);
}

#txtLicSearchBox, #btnSearchIcon {
	background-color: #fff;
}
/*------Header end--------*/

/*-----cfs form-------*/
.nav-tabs {
	border-bottom: solid 2px #72C7C0;
	margin-top: 3px;
}

	.nav-tabs > li {
		margin-bottom: 0;
	}

		.nav-tabs > li.active > a {
			background-color: #72C7C0 !important;
			color: white !important;
		}

		.nav-tabs > li > a {
			border: 0px solid transparent;
		}

		.nav-tabs > li > a {
			padding: 6px 10px;
			font-size: 16px;
			font-weight: 600;
		}

		.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
			border: 1px solid transparent;
		}

.box {
	background-color: transparent;
	box-shadow: 0 0px 0px rgba(0,0,0,0.1);
}

.box-header {
	color: #fff;
	background-color: #5e738b;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.box-title {
	font-size: 18px !important;
	font-weight: bold;
	line-height: 1.5em !important;
	color: #fff !important;
}

.box-body, .related_content {
	background-color: #fff;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	padding: 0;
	margin-bottom: 3px;
}

.box-footer {
	padding-bottom: 10px;
}

.box-bolo {
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	margin-bottom: 10px;
}

	.box-bolo:hover {
		box-shadow: 0 2px 10px rgba(0,0,0,0.5);
		transform: translate3d(0, -2px, 0);
	}

.user-block .username a {
	color: #72C7C0;
}

	.user-block .username a:hover {
		color: #a5dfda;
	}

.box-bolo .box-body {
	padding: 10px;
}

.bolo-sound-off {
	color: #72C7C0;
}

.attachment-block {
	border: 0;
	background-color: transparent;
}

.form-group-sm {
	padding: 2px;
}

	.form-group-sm > div > span, .form-group-sm > div > textarea {
		font-size: 18px;
		font-weight: 600 !important;
		line-height: 1.1em;
	}

	.form-group-sm > label {
		font-size: 16px;
		/*margin-top: 2px !important;*/
	}

.timeline-body {
	font-size: 16px !important;
	line-height: 1.2em;
}

.form-control {
	min-height: 30px;
}

.form-group-sm .form-control {
	font-size: 18px !important;
	font-weight: 600 !important;
	line-height: 1.1em;
	padding: 2px 8px;
}

	.form-group-sm .form-control:not(textarea) {
		height: 30px;
		font-size: 18px !important;
		font-weight: 600 !important;
	}

.input-sm, .input-sx {
	font-size: 16px;
}

.input-group-addon:last-child {
	boder-left: 1px solid;
}

.logFilterBtn {
	margin: 0 !important;
	background-color: #355264;
	color: rgba(174, 185, 193, 1) !important;
}

.logFilterBtnActive {
	background-color: rgba(174, 185, 193, 1);
	color: #355264 !important;
}

.time-event {
	border: solid 2px rgba(174, 185, 193, 1);
	width: 200px;
	text-align: center;
	border-radius: 6px;
	margin: 5px 0 10px;
}

.btton-bolo {
	margin: 0 !important;
	background-color: transparent;
	color: #72C7C0;
}

.bolo-group {
	border: solid 2px #72C7C0;
	text-align: center;
	border-radius: 6px;
}

	.bolo-group button:hover {
		color: #4FAAA1;
		background-color: #c4e0de;
	}

	.bolo-group button.selected,
	.bolo-group button:focus {
		color: #FFFFFF;
		background-color: #72C7C0;
	}

.bolo-input {
	color: #666;
	border-top-left-radius: 2px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 2px;
}

.box-header > .box-tools {
	right: 5px;
	top: 5px;
	line-height: 1em;
}

	.box-header > .box-tools .description {
		font-size: 14px;
	}

	.box-header > .box-tools i {
		font-size: 24px;
		margin-bottom: 5px;
	}

.bolo-unread {
	color: #3C8DBC;
}

.mdtButton {
	background-color: #96C11F;
	color: #fff;
	padding: 5px 10px;
	margin-left: 15px;
	border-radius: 0;
	min-width: 80px;
}

.nav-tabs, .nav-pills {
	margin-bottom: 0 !important; /*fix eticket*/
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
	opacity: 1;
	border-color: #eee;
}


a {
	/*color: #5d7483;*/
}

.nav > li > a:hover, .nav > li > a:active, .nav > li > a:focus {
	color: #5d7483;
	background: #c7e9e6;
}

hr {
	margin-top: 2px;
	margin-bottom: 2px;
	border: 0;
	border-top: 1px solid #eee;
}

#rightMainTopBar {
	position: absolute;
	top: 73px;
	right: 270px;
	z-index: 999;
	line-height: 1.75em;
}

	#rightMainTopBar ul {
		list-style-type: none;
		padding: 2px 0 2px 4px;
	}

#txtCloseDesc{
	resize: none;
}
/*-- For call log-- */
.box-calllog {
	background-color: #355264 !important;
	padding: 2px 0 2px 3px;
}

.box-header.with-border {
	border: 0;
}

.timeline > li > .timeline-item {
	background-color: #355264;
	color: #F2F3F4;
}

.timeline > li > .timeline-item > .timeline-header {
	color: #F2F3F4;
	border-bottom: 0px solid #f4f4f4;
}

.timeline > li > .timeline-item > .time {
	color: #F2F3F4;
}

/*.timeline > li > .timeline-item > .highlight {
	color: #ffff00;
}*/

.timeline > li > .item_even {
	background-color: #2d4959;
}


.calllog-extrude {
	position: absolute;
	height: 34px;
	width: 32px;
	left: -32px;
	top: 0;
	background-color: #355264;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

	.calllog-extrude a {
		position: absolute;
		top: 8px;
		left: 8px;
	}

.timeline:before {
	background: #5D7483;
}

#ddlActiveCfsList > li, #ddlActiveCfsList > li > a {
	font-size: 18px;
	font-weight: bold;
	padding: 2px 5px;
}

#setActiveCfs .mdtButton {
	margin-left: 0px;
}

/*#mdtMainContent {
	padding-top: 5px;
}*/

#tabMdtCfs {
	display: none;
	overflow: hidden;
}

#cfsPrimary {
	color: #009FE3;
	margin-left: 10px;
	display: none;
}

#cfsNOPrimary {
	color: #367fa9;
	margin-left: 10px;
	display: none;
}

#activeCfslistMode {
	float: right;
	margin: 0px 10px 0 0;
	font-size: 18px;
	line-height: 30px;
}

#mainCFSNo {
	font-size: 18px;
	font-weight: bold;
}

.activeCfsNo {
	color: #009fe3;
}

#currentIcon {
	color: #009fe3;
}

#listCfsBtn {
	display: inline-block;
	width: 15px;
	text-align: center;
	color: #009fe3;
}

.label-DISPATCHED {
	color: #009fe3 !important;
}

#ddlActiveCfsList {
	list-style-type: none;
	position: absolute;
	top: 35px;
	max-height: 300px;
	overflow-y: auto;
	-webkit-box-shadow: 0px 0px 10px 3px rgba(170,170,170,1);
	-moz-box-shadow: 0px 0px 10px 3px rgba(170,170,170,1);
	box-shadow: 0px 0px 10px 3px rgba(170,170,170,1);
}

#setActiveCfs {
	float: right;
	margin: 0;
}

#cfsTopTabContent {
	/*border-top: solid 2px #72C7C0;*/
}

#topTabContent {
	overflow: hidden;
}

#MdtBOLO {
	display: none;
}

	#MdtBOLO .row {
		margin: 0;
	}

#modal-dialog {
	text-align: center;
	width: 70%;
}

.alertInfo {
	font-weight: bold;
	font-size: 20px;
}

.close {
	opacity: 0.5;
}

#cfsPrimaryIcon {
	float: right;
	margin: 0px 10px 0 0;
	color: #009fe3;
}

	#cfsPrimaryIcon > span > i {
		font-size: 1.6em;
		margin-top: 3px;
		display: inline-block;
	}

#divCallLogPanel {
	margin-top: 70px;
	width: 230px;
	border-width: 0;
}

	#divCallLogPanel > .box-calllog {
		border-top: 0;
		border-radius: 0;
		margin-top: 1px;
	}

#extrudeIcon {
	color: #F2F3F4;
	font-size: 18px;
}

/*#timeEventHeader {
	line-height: 30px;
}*/

#timeEventTile {
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
	color: #F2F3F4;
}

#btnExpandLog {
	float: right;
	margin-top: 4px;
	cursor: pointer;
	color: #fff;
}

#timeEventBtns {
	width: 100%;
	text-align: center;
}

#divCallLogContent {
	overflow-y: auto;
	overflow-x: hidden;
	height: 100px;
}

#txtNewCfsLog {
	color: #F2F3F4;
	font-size: 16px;
	border-color: #aeb9c1;
	margin-bottom: 5px;
}

#callLogFooter {
	border-top: 0;
}
/*-----cfs form end-------*/

/*------UnitStatusButtonView-------*/
#mdtUnitMainStatusButtonGroups {
	margin: 40px 30px 20px 30px;
}

#mdtUnitSubStatusButtonGroups {
	margin: 10px 30px 20px 30px;
}

#mdtUnitSubStatusNoCfsList {
	display: none;
	height: 0;
	max-height: 440px;
	overflow-y: auto;
	margin-left: 35px;
	margin-right: 35px;
}
/*------UnitStatusButtonView end-------*/

/*-----------------CFS Summary----------------------*/
#callerView, #locationView {
	border-top: 0;
}

#editFirstName, #editLastName, #editCallerAddress, #editCommonPlaceName {
	text-transform: uppercase;
}

#noCfsResultDiv {
	width: 100%;
	height: 100%;
	color: #B6BBC1;
	font-size: 26px;
}

#callSummaryEdit {
	padding-bottom: 3px;
	margin-bottom: 0px;
	display: none;
	border-top: 0;
}

#callSummaryEdit .box-body{
	margin-bottom: 0;
}

#callSummaryEdit .form-group-sm{
	padding:0;
}

#callerHeaderBody{
	padding-bottom:3px;
}
.mdtBoxbarBtn {
	color: #72C7C0;
	font-weight: bold;
	font-size: 24px;
	margin-left: 20px;
	cursor: pointer;
}

#mdtSaveBtn > i {
	font-weight: normal;
}
#mdtSaveBtn{
	background-color:#96C11F;
}
#mdtCancelBtn > i {
	font-size: 21px;
}
#editSummaryViewFooter{

}

#mdtCancelBtn {
	padding-top: 2px;
}

#mdtRereshBtn,#mdtEditBtn {
	height: 27px;
    padding: 0 5px;
    margin-top: -5px;
    font-weight: bold;
    margin-left: 20px;
    width: 100px;
}
#callSummaryViewHeader{
	height:33px;
}

#callSummaryView > .box, #tabMdtRelated > .box {
	padding-bottom: 3px;
	border-top: 0;
}

#callSummaryView, #callSummaryEdit, #CfsRelatedView, #AssignedUnitView, #TicketListView_CFS, #tabCaseSummary, #tabNcic, #tabCfsPerson, #tabMdtTicketsCS {
	overflow-x: hidden;
	overflow-y: auto;
}

#actionArea_DoneCFS, #actionArea_CloseCFS {
	display: none;
}

#mileWord {
	margin-top: 30px;
}

#mdtNewCfsPop .modal-header, #mdtCloseCfsDiv .modal-header {
	color: #fff;
	background-color: #5e738b;
}

#mdtNewCfsPop .modal-footer {
	padding-bottom: 10px;
}

#mdtNewCfsPop .modal-body {
	padding-left: 15px;
	padding-right: 15px;
}
/*-----------------CFS Summary end----------------------*/

/*------------------Init Cfs-----------------------*/
#mdtInitCfsPop .mianBox {
	width: 460px;
	height: 210px;
	text-align: center;
	color: #627482;
	font-size: 18px;
	font-weight: bold;
}

#mdtInitCfsPop .subBox {
	height: 180px;
}
/*.modal-dialog{
	margin-top: 150px;
}*/
.modal-header {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.modal-dialog-header {
	padding: 10px 10px 2px;
	background-color: #5e738b;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}

.modal-footer {
	border-top: 0;
}

.bootstrap-dialog.type-primary .modal-header {
	background-color: #5e738b;
}

.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
	background-color: #009fe3 !important;
}

#mdtInitCfsPop .modal-dialog, #mdtInitSelectorPop .modal-dialog {
	margin-top: 260px;
}

#mdtInitCfsPop table {
	height: 100%;
	width: 100%;
	border: solid 1px #ddd;
	cursor: pointer;
}

#mdtInitCarStop {
	padding: 30px 20px 30px 50px;
}

#mdtInitNewCfs {
	padding: 30px 50px 30px 20px;
}

#mdtInitCfsPop td:hover {
	background-color: #179d81;
	color: #fff;
}
/*------------------Init Cfs end-----------------------*/

/*------------------RelatedView---------------------*/
.table_css > thead {
	background-color: #8AB1AD;
	height: 30px;
	color: #fff;
	font-size: 16px;
	text-align: left;
}

.table_css > tbody {
	font-size: 18px !important;
	font-weight: 400 !important;
	text-align: left;
	background-color: #FFFFFF;
}

.noactive-bar {
	/*background-color: #C6C6C6;
	border-top: solid 2px #aaa !important;*/
}

.tr-hover-bg {
	background-color: rgba(114, 199,192, 0.3) !important;
}

.icon_toggle {
	font-size: 18px;
	float: right;
	padding-top: 5px;
	cursor: pointer;
	font-weight: bold;
}

.dataTables_wrapper .row {
	margin: 0;
}

	.dataTables_wrapper .row .col-sm-12 {
		padding: 0;
	}

#CfsRelatedView .row .col-sm-12, #TicketListView_CFS .row .col-sm-12 {
	padding: 0;
}

/*#CfsRelatedView {
	background-color: #ECF0F5;
	border: 0;
}*/

/*#CfsRelatedView .row > .with-border {
		padding: 0px 5px 5px 5px;
	}

	#CfsRelatedView .header-style {
		background-color: #8AB1AD;
		height: 30px;
		color: #fff;
		font-size: 16px;
		text-align: left;
	}

	#CfsRelatedView .row > div:not(.with-border) {
		padding: 5px;
	}*/
/*------------------RelatedView end---------------------*/

/*------------------TicketListView---------------------*/
#TicketListView {
	background-color: #ECF0F5;
	border: 0;
}

	#TicketListView .header-style {
		background-color: #8AB1AD;
		height: 30px;
		color: #fff;
		font-size: 16px;
		text-align: left;
	}

	#TicketListView .row {
		margin: 0;
	}

		#TicketListView .row > .with-border {
			padding: 0px 5px 5px 5px;
		}
/*------------------TicketListView end---------------------*/

/*------------------TransportInfomation---------------------*/
#btnTransportSubmit {
	width: 80px;
}

#btnTransportCancel {
	width: 80px;
	margin-left: 5px;
}

#mdtTransportInfomation .bootstrap-dialog-close-button {
	display: block;
}

#mdtTransportInfomation .modal-body {
	padding-top: 10px;
}
/*------------------TransportInfomation end---------------------*/

/*------------------BoloIntakeView-------------------*/
#pictureUploaderDiv {
	margin-top: 5px;
}

	#pictureUploaderDiv .filelist {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	#pictureUploaderDiv .queueList.filled {
		padding: 3px;
		margin: 0;
		border: 3px dashed transparent;
	}

	#pictureUploaderDiv p {
		margin: 0;
	}

	 #pictureUploaderDiv .filelist div.file-panel {
	 	position: absolute;
	 	height: 0;
	 	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#80000000', endColorstr='#80000000')\0;
	 	background: rgba( 0, 0, 0, 0.5 );
	 	width: 100%;
	 	top: 0;
	 	left: 0;
	 	overflow: hidden;
	 	z-index: 300;
	 }

	#pictureUploaderDiv .filelist li {
		width: 80px;
		height: 80px;
		text-align: center;
		margin: 0 8px 0px 0;
		position: relative;
		display: inline;
		float: left;
		overflow: hidden;
		font-size: 12px;
	}

		#pictureUploaderDiv .filelist li p.title {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			top: 5px;
			text-indent: 5px;
			text-align: left;
		}

		#pictureUploaderDiv .filelist li p.imgWrap {
			position: relative;
			z-index: 2;
			line-height: 80px;
			vertical-align: middle;
			overflow: hidden;
			width: 80px;
			height: 80px;
			-webkit-transform-origin: 50% 50%;
			-moz-transform-origin: 50% 50%;
			-o-transform-origin: 50% 50%;
			-ms-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
			-webit-transition: 200ms ease-out;
			-moz-transition: 200ms ease-out;
			-o-transition: 200ms ease-out;
			-ms-transition: 200ms ease-out;
			transition: 200ms ease-out;
		}

		#pictureUploaderDiv .filelist li p.progress {
			position: absolute;
			width: 100%;
			bottom: 0;
			left: 0;
			height: 8px;
			overflow: hidden;
			z-index: 50;
			margin: 0;
			border-radius: 0;
			background: none;
			-webkit-box-shadow: 0 0 0;
		}

			 #pictureUploaderDiv .filelist li p.progress span {
			 	display: none;
			 	overflow: hidden;
			 	width: 0;
			 	height: 100%;
			 	/*background: #1483d8 url('../../Plugins/web-uploader/progress.png') repeat-x;*/
			 	-webit-transition: width 200ms linear;
			 	-moz-transition: width 200ms linear;
			 	-o-transition: width 200ms linear;
			 	-ms-transition: width 200ms linear;
			 	transition: width 200ms linear;
			 	-webkit-animation: progressmove 2s linear infinite;
			 	-moz-animation: progressmove 2s linear infinite;
			 	-o-animation: progressmove 2s linear infinite;
			 	-ms-animation: progressmove 2s linear infinite;
			 	animation: progressmove 2s linear infinite;
			 	-webkit-transform: translateZ(0);
			 }


	#pictureUploaderDiv .filelist div.file-panel span.cancel {
		background-position: -48px -24px;
	}

	#pictureUploaderDiv .filelist div.file-panel span.rotateRight {
		background-position: -24px -24px;
	}

	#pictureUploaderDiv .filelist div.file-panel span.rotateLeft {
		background-position: 0 -24px;
	}

	 #pictureUploaderDiv .filelist div.file-panel span {
	 	width: 24px;
	 	height: 24px;
	 	display: inline;
	 	float: right;
	 	text-indent: -9999px;
	 	overflow: hidden;
	 	/*background: url('../../Plugins/web-uploader/upload-icons.png') no-repeat;*/
	 	margin: 5px 1px 1px;
	 	cursor: pointer;
	 }

	#pictureUploaderDiv .statusBar {
		border-bottom: 1px solid #dadada;
		line-height: 40px;
		vertical-align: middle;
		position: relative;
	}

		#pictureUploaderDiv .statusBar .progress {
			border: 1px solid #1483d8;
			width: 198px;
			background: #fff;
			height: 18px;
			position: relative;
			display: inline-block;
			text-align: center;
			line-height: 20px;
			color: #6dbfff;
			position: relative;
			margin: 0 10px 0 0;
		}

			#pictureUploaderDiv .statusBar .progress span.percentage {
				width: 0;
				height: 100%;
				left: 0;
				top: 0;
				background: #1483d8;
				position: absolute;
			}

			#pictureUploaderDiv .statusBar .progress span.text {
				position: relative;
				z-index: 10;
			}

		#pictureUploaderDiv .statusBar .info {
			display: inline-block;
			font-size: 14px;
			color: #666666;
		}

		#pictureUploaderDiv .statusBar .btns {
			position: absolute;
			top: 0px;
			right: 20px;
			line-height: 40px;
		}


	#pictureUploaderDiv .filelist li p.error {
		background: #f43838;
		color: #fff;
		position: absolute;
		bottom: 0;
		left: 0;
		height: 28px;
		line-height: 28px;
		width: 100%;
		z-index: 100;
	}

	 #pictureUploaderDiv .filelist li .success {
	 	display: block;
	 	position: absolute;
	 	left: 0;
	 	bottom: 0;
	 	height: 40px;
	 	width: 100%;
	 	z-index: 200;
	 	/*background: url(../../Plugins/web-uploader/success.png) no-repeat right bottom;*/
	 }

.element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px,1px,1px,1px);
}

.noRadius {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

#mdtBOLOContent {
	padding-top: 2px;
}

#mdtBoloIntake .bootstrap-dialog-title {
	width: 100%;
}

#mdtBoloIntake .btn-group {
	margin-left: 10px;
	margin-top: -3px;
	font-size: 16px;
}

#boloPriority, #boloDuration {
	text-align: left;
	border-top: 1px solid #d2d6de !important;
	border-left: 1px solid #d2d6de !important;
	border-bottom: 1px solid #d2d6de !important;
	border-right: 0 !important;
}

	#boloPriority + button.dropdown-toggle {
		border-top: 1px solid #d2d6de !important;
		border-left: 0 !important;
		border-bottom: 1px solid #d2d6de !important;
		border-right: 1px solid #d2d6de !important;
	}

	#boloDuration + button.dropdown-toggle {
		border-top: 1px solid #d2d6de !important;
		border-left: 0 !important;
		border-bottom: 1px solid #d2d6de !important;
		border-right: 1px solid #d2d6de !important;
	}

#boloPriorityList, #boloDurationList {
	min-width: 128px;
}

#mdtBoloIntake .row > .form-group {
	margin-left: 0 !important;
	margin-right: 0 !important;
	margin-bottom: 5px;
}

#boloNewDocList {
	padding-left: 0;
	margin-bottom: 0;
}

#boloOldDocList {
	padding-left: 0;
	margin-bottom: 0;
}

#boloDocTotalStatus {
	display: none;
	border-bottom: 1px solid #dadada;
	line-height: 40px;
	vertical-align: middle;
	position: relative;
}

	#boloDocTotalStatus > .progress {
		margin-bottom: 0;
		width: 250px;
		display: inline-block;
		vertical-align: middle;
		display: none;
	}

	#boloDocTotalStatus > .info {
		display: inline-block;
	}

/*------------------BoloIntakeView end-------------------*/

/*------------------MdtAddCfsPerson---------------*/
#cfsPersonForm > .box-primary {
	border-top: 0px;
}

#cfsPersonForm #btnSave {
	width: 120px;
	height: 40px;
}

#cfsPersonForm #btnCancel {
	width: 120px;
	height: 40px;
}
/*------------------MdtAddCfsPerson end---------------*/
/*------------------MdtAddCfsVehicle-----------------------*/
#cfsVehicleForm > .box-primary {
	border-top: 0px;
}

#cfsVehicleForm #btnSave {
	width: 120px;
	height: 40px;
}

#cfsVehicleForm #btnCancel {
	width: 120px;
	height: 40px;
}
/*------------------MdtAddCfsVehicle end-----------------------*/

/*------------------MdtCarStop--------------------------*/
.form-control.input_big {
	line-height: 1;
	font-size: 32px !important;
	font-weight: bold !important;
	width: 100%;
	height: 60px !important;
}

.height60 {
	height: 60px !important;
}

#linkCaseSummary {
	font-weight: bold;
}

#divCaseOperation {
	float: right;
	margin-right: 300px;
	line-height: 1em;
}

#btnSaveCfs {
	width: 80px;
	display: none;
}

#btnOpenCloseCfsDialog {
	width: 80px;
}

#btnOpenReopenCfsDialog {
	width: 80px;
	display: none;
}

#lblCfsVehicleCount {
	padding: 3px;
	display: none;
}

#lblCfsPersonCount {
	padding: 3px;
	display: none;
}

#tabCaseSummary .box-primary {
	border-top: 0;
}

#btnSaveCfsDesc {
	display: none;
}

#tabNcic {
	margin: 0px;
	padding: 0px;
}

#frameNCIC {
	width: 100%;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

/*------------------MdtCarStop end--------------------------*/

/*------------------MdtEditCfsPerson-----------------------*/
#cfsPersonForm > .box {
	border-top: 0px;
}

#cfsPersonForm #btnSave, #cfsPersonForm #btnCancel {
	width: 120px;
	height: 40px;
}
/*------------------MdtEditCfsPerson end-----------------------*/

/*------------------MdtEditCfsVehicle-----------------------*/
#cfsVehicleForm > .box {
	border-top: 0px;
}

#cfsVehicleForm #btnSave, #cfsVehicleForm #btnCancel {
	width: 120px;
	height: 40px;
}


/*------------------MdtEditCfsVehicle end-----------------------*/

/*------------------MdtIncidentLocation----------------------*/
#btnSaveLocationInfo {
	width: 80px;
	display: none;
}
/*------------------MdtIncidentLocation end----------------------*/

/*------------------RMS---------------*/
#mdtLinkRMS .mianBox {
	width: 460px;
	height: 250px;
	text-align: center;
	color: #627482;
	font-size: 18px;
	font-weight: bold;
}

#mdtLinkRMS .subBox {
	height: 180px;
}

#mdtLinkRMS .modal-dialog {
	margin-top: 260px;
}

#mdtLinkRMS table {
	height: 100%;
	width: 100%;
	border: solid 1px #e2e2e2;
	cursor: pointer;
}

#mdtLinkRMS td:hover {
	background-color: #179d81;
	color: #fff;
}

#mdtLinkRMSRefresh {
	padding: 30px 20px 10px 50px;
}

#mdtLinkRMSHome {
	padding: 30px 50px 10px 20px;
}
/*------------------RMS end---------------*/

/*------------------Transport start------------------------------*/
#mdtTransportInfomation label {
	font-size: 16px;
}

#mdtTransportInfomation button {
	width: 100px;
	height: 35px;
}
/*------------------Transport end------------------------------*/


/* -------------------------SuperVisor  start-----------------------*/

.btn-normal-h28 {
	width: 110px;
	height: 28px;
}

.btton-label-info {
	margin: 0 !important;
	background-color: #f4f4f4;
	color: #444;
	border-color: #ddd;
}

.supervisor-tab-group {
	text-align: center;
	border-radius: 4px;
}

	.supervisor-tab-group button:hover {
		background-color: #e6e6e6;
	}

	.supervisor-tab-group button.selected,
	.supervisor-tab-group button:focus {
		color: #FFFFFF;
		background-color: #009fe3;
		border-color: #3c8dbc;
	}

/* -------------------------SuperVisor  end-----------------------*/
