.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  padding: 15px;
}

.App-sidebar {
  font-size: 22px !important;
  text-align: left !important;
}

.App-tabcontent {
  font-size: 20px;
  min-height: 638px;
  margin:0;
  border:0 !important;
  padding:0;
}

.cfs-brief {
  text-align: left;
  height: 80px !important;
  margin: 10px;
}

.cfsNumber{
  color: #ffffff !important;
  font-weight: bold !important;
}

.cfsType{
  background-color: #ff0000 !important;
  color: #ffffff !important;
  font-size: 16px !important;
}

.cfsAddress{
  color: #d3d3d3;
}

.cfsAddressStatus{
  font-size: 14px;
  vertical-align: middle;
}

.cfs-info {
  color: #d3d3d3;
}

.cfs-info .cfsDescTitle{
  font-size: 20px;
  color: #888888;
}

.cfs-info .cfsDesc{
  font-size: 20px;
  overflow-y: auto;
  height: 100px;
}

.cfs-info .cfs-timeEvent {
  overflow-y: auto;
  color: #d3d3d3 !important;
  height: 450px;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*
 *  Scrollbar STYLE 5
 */
#scrollbar-style-5::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  /*background-color: #F5F5F5;*/
}

#scrollbar-style-5::-webkit-scrollbar {
  width: 10px;
  /*background-color: #F5F5F5;*/
}

#scrollbar-style-5::-webkit-scrollbar-thumb {
  background-color: #0ae;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
}

/*
*  Scrollbar STYLE 6
*/
#scrollbar-style-6::-webkit-scrollbar-track {
 box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
 -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
 /*background-color: #F5F5F5;*/
}

#scrollbar-style-6::-webkit-scrollbar {
 width: 10px;
 /*background-color: #F5F5F5;*/
}

#scrollbar-style-6::-webkit-scrollbar-thumb {
 background-color: #F90;
 background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
}
