/*nightmode*/


.night-body {
	color: rgba(255, 255, 255, 1); /*font color*/
}



	.night-body .el-select-dropdown {
		background-color: #383838;
	}

	.night-body .el-select-dropdown__item {
		color: #ffffff;
	}

	.night-body .el-select .el-input.is-focus .el-input__inner {
		border: 1px solid #70b997;
	}

		.night-body .el-select-dropdown__item.hover, .night-body .el-select-dropdown__item:hover {
			background-color: #888;
		}

	.night-body .el-dialog {
		background-color: #183c51;
		color: #ffffff;
	}

	.night-body .el-dialog__header {
		background-color: #5e738b;
	}

	.night-body .el-dialog__body {
		color: #fff;
	}

	.night-body .el-tabs--border-card > .el-tabs__header {
		background-color: transparent;
	}

	.night-body .el-tabs--border-card {
		background-color: #0d2431;
	}

		.night-body .el-tabs--border-card > .el-tabs__header .el-tabs__item {
			color: #72C7C0;
		}

		.night-body .el-tabs--border-card > .el-tabs__header .is-active {
			background-color: #72C7C0;
			color: #fff;
		}

	.night-body .el-popover {
		background-color: #365169;
		color: #fff;
	}

	.night-body .el-tabs__item {
		color: #5d7483;
	}

		.night-body .el-tabs__item.hover, .night-body .el-tabs__item:hover {
			background: #c7e9e6;
		}

	.night-body .el-table {
		background-color: #365169;
	}

	.night-body .el-table__header tr {
		background-color: #aeb9c1;
		color: #333;
	}

	.night-body .el-table__body {
		color: #fff;
	}

		.night-body .el-table__body tr {
			/*background-color: #365169;*/
			color: #fff;
		}

			.night-body .el-table__body tr:nth-of-type(odd) {
				background-color: #365169;
			}

			.night-body .el-table__body tr:nth-of-type(even) {
				background-color: #3d5870;
			}

	.night-body .el-table--striped .el-table__body tr.el-table__row--striped td {
		background-color: #3d5870;
		color: #fff;
	}

	.night-body .el-table--enable-row-hover .el-table__body tr:hover > td {
		background-color: rgba(114, 199, 192, 0.3);
	}

	.night-body a {
		color: #72C7C0;
	}

		.night-body a:hover {
			color: #72C7C0;
			opacity: 0.85;
		}

	.night-body input[type="text"] {
		color: #F2F3F4;
		background-color: #383838;
	}

	.night-body select {
		color: #F2F3F4;
		background: no-repeat right #383838;
	}

	.night-body option {
		color: #F2F3F4;
		background: no-repeat right #383838;
	}

		.night-body select:focus,
		.night-body input[type="text"]:not([readonly='readonly']):focus,
		.night-body textarea:focus {
			border: 1px solid #70b997;
		}

	.night-body textarea {
		color: #F2F3F4;
		background-color: #383838;
	}

		.night-body textarea[readonly] {
			background-color: rgb(45, 73, 89);
			color: rgba(255,255,255,1);
			border: solid 1px #163c51;
		}
		.night-body .sort-caret{
			color:#000;
		}

.night-body .el-radio-button:first-child .el-radio-button__inner {
	border-left: 1px solid #409eff;
}

.night-body .el-form-item__label {
	color: #fff;
}

.night-body .el-checkbox {
	color: #fff;
}

.night-body .sweet-alert {
	color: #fff;
	background-color: #365169;
}

.night-body .sweet-alert h2 {
	color: #fff;
}

.night-body .sweet-alert p {
	color: #fff;
}

.night-body .ui-autocomplete {
	color: #fff;
	background-color: #383838;
}

.night-body .cfsPopContent {
	color: #fff;
}