body {
}

.box-header {
		background-color: #E4F4F3;
	}

	.box-title {
		font-size: 17px !important;
		font-weight: bold;
		line-height: 29px !important;
		color: #163C51 !important;
	}

.form-group-sm {
	padding-top:1px;
}

	.form-group-sm > div > span, .form-group-sm > div > textarea {
		font-size: 18px !important;
		font-weight: 600 !important;
	}

	.form-group-sm > label {
		font-size: 16px !important;
		margin-top: 1px !important;
	}

	.form-group-sm .form-control:not(textarea) {
		height: 30px;
		font-size: 16px;
		font-weight: bold;
	}

.btn-dialog-size {
	width:100px;
	height:35px;
	font-size:20px;
}